.slider {
    &::-webkit-scrollbar {
        display: none;
    }
}

.arrow {
    position: absolute;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 50%;
    background: rgba(31, 45, 61, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #ccc
}

.leftArrow {
    left: 2vw;
}

.rightArrow {
    transform: rotate(0.5turn);
    right: calc(16px + 2vw); // 16px - scrollbar width
}

.fade {
    display: grid;

    > div {
        grid-area: 1 / 1;
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none;
        will-change: opacity;

        &.active {
            pointer-events: all;
            opacity: 1;
        }
    }
}