# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.npm
.config

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.bash_history

# Local env files
.env
.env.*
!.env.example
