$breakpoint: 1024;

@keyframes slideTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.mobile-menu-toggle {
    @media(width >= #{$breakpoint}px) {
        display: none;
    }

    .lines-button {
        display: grid;
        grid-template-rows: repeat(3, 2px);
        grid-row-gap: 4px;
        width: 18px;

        .lines {
            height: 2px;
            width: 100%;
            background-color: #fff;
            display: block;
        }
    }
}

.mobile-menu-container {
    display: none;
    width: 100%;
    background-color: #b71c1c;
    z-index: 100;

    &.open {
        display: block;
        position: sticky;
        z-index: 999;
        height: 100%;

        .mobile-nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 30px 30px 70px;

            li {
                border-bottom: 1px solid #c63939;

                > a {
                    display: block;
                    color: #fff;
                    font-size: 22px;
                    padding: 13px 10px;
                }
            }
        }

        @media(width >= #{$breakpoint}px) {
            display: none;
        }
    }
}

#menu-top-menu {
    @media(width < #{$breakpoint}px) {
        display: none;
    }
}

.site-header {
    background-color: var(--red-dark);
    padding: 18px 0;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    z-index: 99;

    .site-branding {
        max-width: 1240px;
        width: calc(100% - 80px);
        margin: 0 auto;

        @media (width >= #{$breakpoint}px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media(width < #{$breakpoint}px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: calc(100% - 24px);
        }

        .site-logo {
            grid-column: 1 / 2;
            justify-self: flex-start;
            align-items: center;
        }

        #site-navigation {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            justify-self: flex-end;
            align-items: center;
        }
    }

    &.sticky {
        animation-name: slideTop;
        animation-duration: 0.3s;
        position: sticky;
        background-color: var(--red);
        box-shadow: 0 5px 10px rgba(47, 25, 25, 0.3);
        width: 100%;
        top: 0;
    }

    .custom-logo-link {
        width: 186px;
        height: 31px;
        border-radius: 0;
        box-shadow: none;
    }

    .site-logo {
        width: fit-content;
    }

    .site-title {
        display: none;
    }

    .main-navigation {
        text-align: right;
        margin-top: 0;
        display: flex;
        justify-content: flex-end;

        .menu-top-menu-container {

            & > .main-menu {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 0;
                list-style-type: none;
                gap: 30px;

                .menu-item {
                    a {
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        border: 2px solid transparent;
                        padding: 5px 10px;
                        font-weight: normal;
                        font-size: 14px;

                        &.active,
                        &:hover {
                            color: #fff;
                            border-color: #f75050;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
    }
}